.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  width: auto;
}

.infoContainer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 600px;
  text-align: center;
}

.infoContainer ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infoContainer li {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.infoContainer li svg {
  margin-right: 0.5rem;
}

.infoContainer li span {
  font-size: 1.2rem;
}

.image {
  width: 100%;
  max-width: 600px;
}

.rounded-image {
  border-radius: 50%;
  animation: pulse 2s infinite;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 6rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  .infoContainer {
    max-width: 800px;
  }

  .infoContainer li span {
    font-size: 1.4rem;
  }

  .rounded-image:hover {
    transform: scale(1.2);
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
