/* Projects */

.projectsContainer {
  padding: 10rem 0;
  max-width: 1200px;
  margin: auto;
}

.projectsContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projectCard {
  border: 1px solid #372772;
  padding: 20px 20px 60px 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.projectCard:hover .projectImg {
  transform: scale(1.2);
}

.projectCard .projectImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.projectCard .projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.projectCard .folder-icon {
  font-size: 3em; /* Cambia el valor 3 para ajustar el tamaño */
  color: #FFD700; /* Cambia "#FFD700" por el código de color deseado */
  transition: all 0.5s ease; /* Agrega una animación de transición */
}

.projectCard:hover .folder-icon {
  transform: scale(1.2); /* Agrega una animación de escala en hover */
}

.projectHeader .smallicons {
  display: flex;
  gap: 0 5px;
}

.projectCard .smallicons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.projectCard .smallicons a:hover {
  color: #ff17b9;
}

.projectCard .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projectCard .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    padding: 5rem 0;
  }

  .projectCard .projectImg {
    position: relative;
  }

  .projectCard:hover .projectImg {
    transform: none;
  }
}
.projectCard .smallicons a .fa-facebook-f {
  font-size: 2.5em;
  color: #000;
}
.smallicons {
  position: absolute;
  bottom: 10px; /* Ajusta la posición vertical del botón */
  left: 50%; /* Centra horizontalmente el botón */
  transform: translateX(-50%); /* Centra horizontalmente el botón */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.smallicons a {
  text-decoration: none;
}
.smallicons {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  }
  
  .smallicons a {
  text-decoration: none;
  }
  
  .smallicons button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #24292e;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-left: 350PX;
  margin-bottom: 10px;
  }
  
  .smallicons button:hover {
  background-color: #0366d6;
  transform: scale(1.1);
  }
  
  .smallicons .btn-text {
  margin-left: 5px;
  }