/* Projects */

.projectsContainer {
  padding: 10rem 0;
  height: calc(100vh - 60px - 40px);
  padding: 10rem 0;
  height: calc(100vh - 60px - 40px);
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: auto; /* Centrar horizontalmente */
}

.projectsContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projectsGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.projectCard {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.projectCard:hover .projectImg {
  transform: scale(1.2);
}

.projectCard .projectImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.projectCard .projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.projectCard .folder-icon {
  font-size: 35px;
  color: #ffcc17;
}

.projectHeader .smallicons {
  display: flex;
  gap: 0 5px;
}

.projectCard .smallicons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.projectCard .smallicons a:hover {
  color: #ffcc17;
}

.projectCard .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.projectCard .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    padding: 5rem 0;
  }
  
  .projectCard .projectImg {
    position: relative;
  }
  
  .projectCard:hover .projectImg {
    transform: none;
  }
}
