.skillscontainer {
  margin: 2rem auto 5rem;
  max-width: 960px;
}
.h2 {
	font-size: 2.2rem;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	max-width: 80%;
	text-align: center; 
 
}

.gridskills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 2rem;
}

.skillcard {
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 150px;
  padding: 1rem;
  animation: skill 7s ease-in-out 0s infinite normal backwards;
}

.skillcard:hover {
  transform: scale(1.05);
  
}

.html:hover {
  background-color: #E34F26;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.css:hover {
  background-color: red; 
  animation: myAnim 2s ease 0s 1 normal forwards;
}


.js:hover {
  background-color: #F7DF1E; 
  animation: myAnim 2s ease 0s 1 normal forwards;
 
}


.react:hover {
  background-color: #61DAFB; 
  animation: myAnim 2s ease 0s 1 normal forwards;
}


.node:hover {
  background-color: #339933;
  animation: myAnim 2s ease 0s 1 normal forwards;
}


.python:hover {
  background-color: #3776AB;
   animation: myAnim 2s ease 0s 1 normal forwards;
}

.sqlmanager:hover {
  background-color: #332a61;
  animation: myAnim 2s ease 0s 1 normal forwards;
}


.mongodb:hover {
  background-color: #c3eaa6;
 animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes skill {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}



@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
@media screen and (max-width: 768px) {
	.h2 {
		font-size: 1.8rem;
		max-width: 100%;
		margin-left: 1rem;
		margin-right: 1rem;
	  }
  .gridskills {
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  
  .skillcard {
	height: 120px;
  }

  .skillcard .icon {
    font-size: 4rem;
  }
  
  .html-icon,
  .css-icon,
  .js-icon,
  .react-icon,
  .node-icon,
  .python-icon {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 480px) {
	.h2 {
	  font-size: 1.5rem;
	}
	
	.skillcard {
	  height: 100px;
	  padding: 0.5rem;
	}
	
	.skillcard .icon {
	  font-size: 3rem;
	}
  }