/* AcademicFormation.module.css */
.container {
  max-width: 1980px; /* ajuste el valor según lo que necesite */
  margin: 0 auto;
  padding: 0 25px; /* agregue un poco de relleno para que el contenido no se pegue a los bordes */
}

.trainingSection,
.coursesSection {
  text-align: center;
  margin: 2rem 0;
}

.trainingTitle,
.coursesTitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

.carouselItem {
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  border-color: rgba(8, 8, 8, 0.329);
  border-style: solid;
  border-radius: 5px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegurarse de que las tarjetas tengan la misma altura */
}

.itemInfo {
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px; /* Altura fija para la sección de información */
}

.itemInfo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  max-height: 2.8rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.itemInfo p {
  margin-bottom: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.carouselItem img {
  max-width: 100%;
  height: 200px; /* Altura fija para la imagen */
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.teste {
  background-color: aqua;
  color: black;
  text-align: center;
  width: 60%;
}

.teste:hover {
  background-color: #0062cc;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .carouselItem {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .carouselItem {
    max-width: 100%;
  }

  .trainingTitle,
  .coursesTitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .trainingTitle,
  .coursesTitle {
    font-size: 1.5rem;
  }

  .itemInfo h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .carouselItem {
    min-width: auto;
    max-width: 100%;
    margin: 0 5px;
  }

  .carouselItem:first-of-type {
    margin-left: 0;
  }

  .carouselItem:last-of-type {
    margin-right: 0;
  }

  .carousel {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 998px) {
  .carouselItem {
    max-width: 100%;
    margin: 0 5px;
  }

  .carousel {
    width: 100%;
    overflow: hidden;
  }
}