.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .footercontainer {
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    padding: 1rem 0;
  }
}

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

/* Estilos específicos para dispositivos con un ancho de pantalla de 768px o más */
@media (min-width: 768px) {
  .socialicons {
    gap: 2rem;
  }
}

/* Estilos específicos para dispositivos con un ancho de pantalla de 1024px o más */
@media (min-width: 1024px) {
  .socialicons {
    gap: 3rem;
  }
}

/* Estilos específicos para dispositivos con un ancho de pantalla de 1200px o más */
@media (min-width: 1200px) {
  .socialicons {
    gap: 4rem;
  }
}

.socialicons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.socialicons a:hover {
  background-color: #0062cc;
}

.socialicons a:active {
  background-color: #0055b7;
}

.socialicons a:focus {
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.3);
}

.socialicons i {
  font-size: 1.2rem;
}
