/* Footer */

.footercontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #080908;
}

.footercontainer p {
  font-size: 0.8rem;
  color: #9B9C9D;
}

.footercontainer .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footercontainer .social_icons a {
  color: #9B9C9D;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footercontainer .social_icons a:hover {
  color: #DADADB;
}